.game-container {
  background-image: url("https://live.staticflickr.com/65535/51407109978_5a63923b81_o.jpg");
  background-size: 500px;
  height: 494px;
  border: 3px solid #50ab6e;
  text-align: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.health_container {
  display: flex;
  flex-direction: row;
  position: relative;
  align-content: center;
  justify-content: center;
  height: 50px;
  /* bottom: 0px;*/
  left: 375px;
  width: 50px;
  margin-bottom: 10px;
  /* border: solid 1px; */
  /* padding: 5px; */
  
}

.health-container > img {
  width: 100%;
  margin: 5px;
}

.wellness-bar {
margin-top: 10px;
  position: relative;
  top: 50px;
  width: 500px;
  /* left: 0px; */
}

.pop-up {
    display: flex;
    background: rgba(255, 255, 255, 0.7);
    overflow: scroll;
    /* height: 110px; */
    /* border: 1px solid black; */
    border-radius: 10px;
    /* padding-left: 5px; */
    /* padding-right: 5px; */
    /* padding-bottom: 5px; */
    padding: 5px;
    position: relative;
    box-shadow: 1px 2px 3px 3px #50AB6E;
    /* bottom: 5px; */
  }

