.game-container{
    background-image: url("https://live.staticflickr.com/65535/51407109978_5a63923b81_o.jpg");
    background-size: 500px;
    height: 494px;
    border: 3px solid #50AB6E;
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}


