.main-container {
    background-image: url("https://live.staticflickr.com/65535/51406868660_f93cc6e3d9_b.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 500px;
    border: 3px solid #5A6266;
    font: 15px Indie Flower;
    font-weight: bold;
}
.wrapper {
    display: flex
}

.wrapper > div {
    margin: .1em;
    padding: .3em;
    border-radius: 3px;
    flex: 1; 
}