.pet-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 110px;
  width: 300px;
  height: 300px;
  padding: 5px;
  border-radius: 300px;
  cursor: pointer;
}

.pet-display > img {
  width: 100%;
}

.info-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background-image: url("https://live.staticflickr.com/65535/51423857442_fb0a6a3cb0_o.png");
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  background-size: 100% 100%;
  position: relative;
  /* top: 15px;
  right: 0px; */
  width: 250px;
  height: 200px;
  border: solid 1px;
  /* padding: 5px; */
  flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
}
.info-container > p {
  position: relative;
  font-size: 12.6px;
  /* top: 41px; */
  /* left: 180px; */
  width: 200px;
  border: solid 1px;
  text-align: center;
}

