body {
  display: block;
  background-image: url("https://i.imgur.com/27vvVmw.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 500px;
  border: 2px solid #b78e44;
  font: 15px Indie Flower;
  font-weight: bold;
}

.centered-form-signup {
  position: relative;
  top: 165px;
}

.centered-form-login {
  position: relative;
  top: 210px;
}

.input-field-orange {
  border-radius: 20px;
  color: #b78e44;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 5px;
  text-align: center;
  margin: 5px;
  box-shadow: 1px 2px 3px 3px #dcb56d;
  font: 15px Indie Flower;
  font-weight: bold;
}

.input-field-orange:focus,
textarea {
  outline: none !important;
}

.input-field-orange:focus {
  color: #b78e44;
}

.input-field-gray {
  border-radius: 20px;
  color: #93B3D2;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 5px;
  text-align: center;
  margin: 5px;
  box-shadow: 1px 2px 3px 3px #86A1B3;
  font: 15px Indie Flower;
  font-weight: bold;
}

.input-field-gray:focus,
textarea {
  outline: none !important;
}

.input-field-gray:focus {
  color: #93B3D2;
}

.button-regular {
  border: none;
  background: none;
  font: 20px Indie Flower;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  cursor: pointer;
  text-decoration: none;
 
}
button-regular:hover {
  color: black;
  cursor: pointer;
}

.button-regular-inv {
  border: none;
  background: none;
  font: 20px Indie Flower;
  margin-left: 5px;
  margin-right: 5px;
  color: black;
  cursor: pointer;
  text-decoration: none;
 
}
button-regular-inv:hover {
  color: white;
  cursor: pointer;
}

.inline{
  display:inline;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;  
  background-color: white; 
}

section {
  float: left;
  width: 115px;
}

.button-green {
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font: 12px Indie Flower;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  color: black;
  box-shadow: 1px 2px 3px 3px #50AB6E;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 2px;
  text-decoration: none
}
.button-green:hover {
  color: #50AB6E;
  cursor: pointer;
}
.button-green:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: auto
}

.button-gray {
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font: 12px Indie Flower;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  color: black;
  box-shadow: 1px 2px 3px 3px #93B3D2;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 2px;
  text-decoration: none
}
.button-gray:hover {
  color: #93B3D2;
  cursor: pointer;
}

/* label {
  border-radius: 20px;
  color: gray;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 5px;
  text-align: center;
  margin: 5px;
  box-shadow: 1px 2px 3px 3px #dcb56d;
  font: 15px Indie Flower;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
} */




